.scorenumberDiv {
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  margin-bottom: 10px;
  padding-bottom: 40px;
}

.scorenumberContent {
  margin: 0;
  padding: 10px 0px 10px;
}

.scorenumberUnit {
  font-size: medium;
  margin: 0;
  padding: 0;
}
