.info_block {
  margin: 0 10px;
  padding: 10px;
  border: 1px solid #dedede;
  background-color: #f7f7f7;
  border-radius: 10px;
  height: 100%;
}

.info_block_brand {
  border-color: #CCDC9F;
  background-color: #fafdf3;
}

.info_block_error {
  border-color: #dc9f9f;
  background-color: #fdf3f3;

}
