.button {
  padding: 15px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.button-primary {
  background-color: var(--adsai-dark-blue);
  color: white;
}

.button-primary:active,
.button-primary:hover {
  background-color: var(--adsai-dark-blue-light);
  color: #fff;
}
