.button {
  padding: 15px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.button-primary {
  background-color: var(--adsai-light-pink);
  color: var(--adsai-medium-pink);
}

.button-primary:active,
.button-primary:hover {
  background-color: var(--adsai-medium-pink);
  color: #fff;
}
