/*!******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[5].use[3]!./styles/Layout.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************/
.Layout_container__S4aNf {
  margin: 0 auto;
  margin-top: 100px;
  max-width: 1440px;
}

