/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[5].use[3]!./styles/Navigation.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
.Navigation_navigation__VLdcJ {
  padding: 0;
  margin: 0;
  padding: 20px;
  height: 100px;
  background: #CCDC9F;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.Navigation_navigation_container__oCXVA {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.Navigation_navigation_items__jf8T2 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  list-style: none;
}

.Navigation_navigation_item__SdW2_ {
  cursor: pointer;
}

.Navigation_navigation_icon__JSXzs {
  padding: 10px;
}

