/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[5].use[3]!./styles/components/content/Column.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.Column_column__rAWDR {
  margin: 10px 0;
}

.Column_column_10__kR_x2 {
  width: 10%;
}

.Column_column_20__95DzK {
  width: 20%;
}

.Column_column_30__K6E0G {
  width: 30%;
}

.Column_column_40__gMmuU {
  width: 40%;
}

.Column_column_50__LCu5V {
  width: 50%;
}

.Column_column_60__7mcYA {
  width: 60%;
}

.Column_column_70__YEAjf {
  width: 70%;
}

.Column_column_80__nufKY {
  width: 80%;
}

.Column_column_90__4BWP3 {
  width: 90%;
}

.Column_column_100__xZFMe {
  width: 100%;
}

@media (min-width: 577px){
  .Column_columnsm_10__DQn0p {
    width: 10%;
  }

  .Column_columnsm_20__z_aYo {
    width: 20%;
  }

  .Column_columnsm_30__P_M7x {
    width: 30%;
  }

  .Column_columnsm_40__wUwn7 {
    width: 40%;
  }

  .Column_columnsm_50__ne0Pk {
    width: 50%;
  }

  .Column_columnsm_60___Rr_J {
    width: 60%;
  }

  .Column_columnsm_70__VmimH {
    width: 70%;
  }

  .Column_columnsm_80__VwiQl {
    width: 80%;
  }

  .Column_columnsm_90__LbnW0 {
    width: 90%;
  }

  .Column_columnsm_100__oot7K {
    width: 100%;
  }

}

@media (min-width: 768px){
    .Column_columnmd_10__m8Rs0 {
    width: 10%;
  }

  .Column_columnmd_20__sUSMm {
    width: 20%;
  }

  .Column_columnmd_30__pEoMQ {
    width: 30%;
  }

  .Column_columnmd_40__PRcM8 {
    width: 40%;
  }

  .Column_columnmd_50__7YVd6 {
    width: 50%;
  }

  .Column_columnmd_60__CjO6m {
    width: 60%;
  }

  .Column_columnmd_70__ryLET {
    width: 70%;
  }

  .Column_columnmd_80__GmHD9 {
    width: 80%;
  }

  .Column_columnmd_90__uOuXG {
    width: 90%;
  }

  .Column_columnmd_100__wDvdb {
    width: 100%;
  }
}

@media (min-width: 992px){
    .Column_columnlg_10__vESBm {
    width: 10%;
  }

  .Column_columnlg_20__dNiSC {
    width: 20%;
  }

  .Column_columnlg_30__Fm1Hq {
    width: 30%;
  }

  .Column_columnlg_40__f4FWl {
    width: 40%;
  }

  .Column_columnlg_50__g13Cb {
    width: 50%;
  }

  .Column_columnlg_60__E8BRX {
    width: 60%;
  }

  .Column_columnlg_70__WSRv_ {
    width: 70%;
  }

  .Column_columnlg_80__RrLDX {
    width: 80%;
  }

  .Column_columnlg_90__E0PA0 {
    width: 90%;
  }

  .Column_columnlg_100__kFtAK {
    width: 100%;
  }
}

@media (min-width: 1200px){
    .Column_columnxl_10__IMcRy {
    width: 10%;
  }

  .Column_columnxl_20__Ei_ZM {
    width: 20%;
  }

  .Column_columnxl_30__JfH1d {
    width: 30%;
  }

  .Column_columnxl_40__bK258 {
    width: 40%;
  }

  .Column_columnxl_50__hsStU {
    width: 50%;
  }

  .Column_columnxl_60__8kR_v {
    width: 60%;
  }

  .Column_columnxl_70__johEg {
    width: 70%;
  }

  .Column_columnxl_80__HRlWx {
    width: 80%;
  }

  .Column_columnxl_90__5AShO {
    width: 90%;
  }

  .Column_columnxl_100__gt6EN {
    width: 100%;
  }
}

