/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[5].use[3]!./styles/components/content/Block.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************/
.Block_block__OMyw5 {
  margin: 0 10px;
  padding: 20px;
  /* border: 1px solid #dedede; */
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  border-radius: 10px;
  height: 100%;
}

