.progressbar {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
}

.progressbar_assignment {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
}

.progressbar_sub_assignment_true {
    color: green;
}

.progressbar_sub_assignment_false {
    color: gray;
}