.container {
  padding: 20px 0;
}

.title {
  font-size: 36px;
  text-align: center;
  margin: 0;
}

.sub_title {
  font-size: 24px;
  text-align: center;
  margin: 0;
}

.assignments_list {
  list-style: none;
}

.assignments_list li {
  padding: 10px 5px;
}

.badgeGrid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 5%;
}
